<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/bootstrapbundle.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="images/dojo_logo.png" height="30" class="d-inline-block align-top" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  href="/">Mattermost Add <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/emails">Emailer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/grades">Grades</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
	<form action="/add" method="POST">
		<div class="form-group">
			<textarea name="names" class="form-control" placeholder="paste emails here" rows="10" cols="5"></textarea>
		</div>
		<div class="form-group">
			<select name="channels" class="form-control" size="4" multiple>
				<% for (x in channels){ %>
				<option value="<%= channels[x]%>"><%= x%></option>
				<% } %>
			</select>
		</div>
		<div>	Send Emails to users not found?<input type="checkbox" name="email"></div>
		<input type="submit" name="">
	
		<p>Note: Use cmd or ctrl to select multiple channels</p>
	</form>
	<div>
			<h1>Add new Channel?</h1>
			<form action="/addChannel" method="POST">
				<input type="text" name="channel_name">
				<input type="submit">
			</form>
			<p>Note: The channel name is found in the url when accessing the channel(ie: "onl-python-2" for the following)</p>
			<img src="images/channelName.png" alt="">
	</div>
</div>
</body>
</html>