<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <h2>Total Auctions: <%= auctions.length %></h2>
    <table class="table table-bordered table-striped">
        <thead>
            <th>auction_id</th>
            <th>Parcel-id</th>
            <th>address</th>
            <th>sqft</th>
            <th>sale_reason</th>
            <th>buyer_name</th>
            <th>current_bid</th>
            <th>auction_end</th>
            <th>buildable</th>
            <th>restrictive_size</th>            
            <th>page_views</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <% for(var i=0; i<auctions.length; i++) { %>
                <tr href>
                    <td><a href="https://secure.bid4assets.com/mvc/auction/<%= auctions[i]["auction_id"] %>"><%= auctions[i]["auction_id"] %></a></td>
                    <td>
                        <a href="http://blue.kingcounty.com/Assessor/eRealProperty/Detail.aspx?ParcelNbr=<%= auctions[i]['APN'].split('-').join('')%>"><%= auctions[i]["APN"] %></a>
                            <a href="http://gismaps.kingcounty.gov/parcelviewer2/?pin=<%= auctions[i]['APN'].split('-').join('')%>">Parcel Map</a> </td>
                    <td><%= auctions[i]["address"] %> </td>
                    <td><%= auctions[i]["sqft"] %> </td>
                    <td><%= auctions[i]["sale_reason"] %> </td>
                    <td><%= auctions[i]["buyer_name"] %> </td>
                    <td><%= auctions[i]["current_bid"] %> </td>
                    <td><%= auctions[i]["auction_end"] %> </td>
                    <td><%= auctions[i]["buildable"] %> </td>
                    <td><%= auctions[i]["restritive_size"] %> </td>                    
                    <td><%= auctions[i]["page_views"] %> </td>
                    <td><a href="/auctions/<%= auctions[i]['auction_id'] %>/delete">Delete</a></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>