<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
		<table class="table table-bordered table-striped">
			<thead>
				<th>email</th>
				<th>username</th>
			</thead>
			<tbody>
				<% for (x in emails){ %>
					<tr>
						<td><%= x %> </td><td><%= emails[x] %></td>
					</tr>
				<% } %>
			</tbody>
		</table>
</div>
</body>
</html>